/****************AU DESSUS*******************/
.header{
    background-color: darkcyan;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

h3{
    text-align: center;
    color: darkcyan;
    margin: 20px 20px;
}

/****************iNGREDIENTS*******************/
.ingredients{
    padding: 5px;
    background-color: darkcyan;
    border-radius: 50px;
    width: 90%;
    margin: auto;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.ingredient{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: darkcyan;
    border-radius: 30px;
    border: 3px solid black;
}

.ingredient p{
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
    transition: 0.5s;
}

.ingredient .scale{
    margin: 0;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    transition: 0.5s;
    width: 60%;
}

.ingredient.titre .scale{
    margin: 0;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    width: 60%;
}

.ingredient p a{
    cursor: pointer;
}

.ingredient .scale:hover{
    transform: scale(1.2);
    color: #ff0000;
}

.ingredient.titre{
    background-color: black;
    color: white;
}

/****************AJOUT INGREDIENT*******************/
.ajout{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

/****************MODIFIER INGREDIENT****************/
.modify-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 600px;
    width: 80%;
    border-radius: 20px;
    padding-bottom: 20px;
}

.object-form{
    width: 100%;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.object-form .error{
    color: red;
    font-size: 14px;
    font-weight: 600;
}

.object-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    padding: 20px 40px;
    border: 2px solid rgb(2, 216, 216);
    outline: none;
    border-radius: 10px;
    transition: 0.5s;
    text-align: center;
    background-color: rgb(64, 185, 185);
}

input{
    color: white;
    font-size: 1em;
}

::placeholder{
    color: white;
    font-size: 1em;
}

.object-form-text:focus.ng-valid{
    box-shadow: 0 0 10px 4px darkcyan;
    background-color: white;
    color: darkcyan;
    border: 2px solid darkcyan;
}

.object-form-text:focus.ng-invalid{
    box-shadow: 0 0 10px 4px #ff0000;
    border: 2px solid #ff0000;
    background-color: white;
    color: red;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*******************BOUTONS**********************/
::ng-deep .p-button{
    cursor: pointer;
}