/****************AU DESSUS*******************/
.header{
    background-color: darkcyan;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

h3{
    text-align: center;
    color: darkcyan;
    margin: 20px 20px;
}

/****************iNGREDIENTS*******************/
.ingredients{
    padding: 5px;
    background-color: darkcyan;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.ingredient{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: darkcyan;
    border-radius: 20px;
    border: 2px solid black;
}

.ingredient p{
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
    transition: 0.5s;
}

.ingredient .center{
    width: 30%;
}

.ingredient .scale{
    width: 30%;
}

.majuscule{
    text-transform: capitalize;
}

.ingredient.titre .center{
    width: 30%;
}

.ingredient.titre .scale{
    width: 30%;
}

.ingredient .scale:hover{
    transform: scale(1.2);
    color: #ff0000;
}

.ingredient p a{
    cursor: pointer;
}

.ingredient.titre{
    background-color: black;
    color: white;
}

/****************AJOUT INGREDIENT*******************/
.ajout{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

/****************MODIFIER INGREDIENT****************/
.modify-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 600px;
    width: 80%;
    border-radius: 20px;
    padding-bottom: 20px;
}

.modify-container label{
    font-size: 20px;
}

.object-form{
    width: 100%;
    padding: 0 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.object-form .error{
    color: red;
    font-size: 14px;
    font-weight: 600;
}

.object-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    padding: 20px 40px;
    border: 2px solid black;
    outline: none;
    border-radius: 10px;
    transition: 0.5s;
    text-align: center;
    background-color: rgb(64, 185, 185);
}

input{
    color: white;
    font-size: 1em;
}

::placeholder{
    color: white;
    font-size: 1em;
}

.user-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    padding: 20px 40px;
    border: 2px solid black;
    outline: none;
    border-radius: 10px;
    transition: 0.5s;
    text-align: center;
    background-color: rgb(64, 185, 185);
}

select{
    color: white;
    font-size: 1em;
    appearance: none;
    cursor: pointer;
}

select option{
    color: black;
}

label{
    font-style: oblique;
    font-size: medium;
    font-weight: 600;
}

.button-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/*************************MEDIA QUERIES****************************/
@media screen and (max-width: 450px){
    .ingredient{
        flex-direction: column;
    }

    .ingredient .center{
        width: 90%;
    }
    
    .ingredient .scale{
        width: 90%;
    }

    .ingredient.titre .center{
        width: 90%;
    }
    
    .ingredient.titre .scale{
        width: 90%;
    }
}

/*******************BOUTONS**********************/
::ng-deep .p-button{
    cursor: pointer;
}