<div class="header">
    <h1>Mon Profil</h1>
</div>
<a routerLink="/liste"><button class="retour">Retour</button></a>
<div class="profil">
    <form class="formulaire-utilisateur" [formGroup]="userForm">
        <div class="form-group">
            <div class="photo">
                <img *ngIf="!loggedInUser?.picture" type="file" id="image" src="../../assets/random-user.png" alt="photo de profil">
                <img *ngIf="loggedInUser?.picture" type="file" id="image" [src]="loggedInUser?.picture" alt="photo de profil">
                <input type="file" accept="image/*" #imageInput (change)="onFileAdded($event)" formControlName="picture">
                <button mat-raised-button color="primary" (click)="imageInput.click()">Modifie ton image</button>
                <img [src]="imagePreview" *ngIf="imagePreview" style="max-height: 100px;display:block;margin-top:10px">
            </div>
            <input type="hidden" class="id" formControlName="_id" name="_id">
            <input type="hidden" class="role" formControlName="role" name="role">
            <input type="text" id="prenom" formControlName="firstname" name="firstname" placeholder="{{loggedInUser?.firstname}}">
            <input type="text" id="nom" formControlName="name" name="name" placeholder="{{loggedInUser?.name}}">
            <input type="text" id="email" formControlName="email" name="email" placeholder="{{loggedInUser?.email}}">
        </div>
        <div class="boutons">
            <div class="modifier">
                <button class="submit" title="modifier votre profil" (click)="submitUser()">Modifier</button>
            </div>
            <div class="supprimer">
                <button (click)="deleteUser(loggedInUser?._id!)" title="supprimer votre profil">Supprimer</button>
            </div>
        </div>
    </form>
</div>
