<!DOCTYPE html>
<html lang="fr">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <div class="sidebar">
            <div class="logo_content">
                <i class='bx bx-menu' title="menu" id="btn"></i>
            </div>
            <ul class="nav_list">
            <li>
                <a id="liste" title="liste" routerLink="/liste" routerLinkActive="active_link">
                <i class='bx bx-home'></i>
                <span class="links_name">Liste</span>
                </a>
            </li>
            <li>
                <a id="profil" title="profil" routerLink="/profil" routerLinkActive="active_link">
                    <i class='bx bxs-user' ></i>
                <span class="links_name">Profil</span>
                </a>
            </li>
            <li>
                <a id="new-recette" title="new-recette" routerLink="/new-recette" routerLinkActive="active_link">
                <i class='bx bxs-cart' ></i>
                <span class="links_name">Nouvelle Recette</span>
                </a>
            </li>
            <li>
                <a id="deconnexion" title="deconnexion" routerLink="/logout" (click)="logoutUser()" routerLinkActive="active_link">
                <i class='bx bxs-door-open'></i>
                <span class="links_name">Déconnexion</span>
                </a>
            </li>
            </ul>
        </div>
    </body>
</html>
