<div class="presentation">
  <h1>Connectez-vous dès maintenant via le formulaire ci-dessous.</h1>
</div>
<a routerLink="/home"><button class="retour" >Retour</button></a>
<div class="entier">
  <div class="gauche">
    <img src="../../../assets/logo site.png" alt="logo">
  </div>
  <div class="droite">
    <h1>Connexion</h1>
    <form [formGroup]="loginForm">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password">
    </div>
    <button [disabled]="loginForm.invalid" (click)="loginUser(loginForm.value)">Se connecter</button>
  </form>
  </div>
</div>
