<app-header></app-header>
<div class="header">
    <h1>Recette en détails</h1>
</div>
<a routerLink="/liste"><button class="retour">Retour</button></a>
<a (click)="onModify()"><button class="retour">Modifier</button></a>
<div class="details">
    <form (ngSubmit)="updateRecette(updateform.value)" [formGroup]="updateform">
        <div class="menu" *ngIf="recette?.menu">
            <p *ngIf="!isModifying">{{recette.menu}}</p>
            <input *ngIf="isModifying" type="text" class="menu" ngModel="{{recette.menu}}" formControlName="menu">
        </div>
        <div class="temps" *ngIf="recette?.temps">
            <p *ngIf="!isModifying">( Temps total : {{recette.temps}} min)</p>
            <p *ngIf="isModifying">( Temps total : <input type="text" class="temps" ngModel="{{recette.temps}}" formControlName="temps"> min)</p>
        </div>
        <button type="submit">Bouton</button>
    </form>
    <!--
    <div class="filtres" *ngIf="recette?.filtres">
        <p *ngIf="!isModifying">{{recette.filtres}}</p>
        <div *ngIf="isModifying">
            <mat-form-field appearance="fill" style="background-color: white">
                <mat-label>Filtres</mat-label>
                <mat-select multiple>
                  <mat-option *ngFor="let filtre of filtreList" [value]="filtre">{{filtre}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="portions-container">
        <div *ngIf="!isModifying">
            <div *ngIf="recette.portions">
                <p>Portions : </p>
                <input type="range" id="rangeInput" name="rangeInput" min="1" max="10" value="{{recette?.portions}}"
                    oninput="amount.value=rangeInput.value">                                                       
                <output id="amount" name="amount" for="rangeInput" value="{{recette?.portions}}">1</output>
            </div>
            <div *ngIf="!recette.portions">
                <p>Veuillez définir le nombre de portions correspondantes à cette recette</p>
            </div>
        </div>
        <div *ngIf="isModifying">
            <div *ngIf="recette.portions">
                <p>Portions : </p>
                <input type="range" id="rangeInput" name="rangeInput" min="1" max="10" value="{{recette?.portions}}"
                    oninput="amount.value=rangeInput.value">                                                       
                <output id="amount" name="amount" for="rangeInput" value="{{recette?.portions}}">1</output>
            </div>
            <div *ngIf="!recette.portions">
                <p>Portions : </p>
                <input type="range" id="rangeInput" name="rangeInput" min="1" max="10" value="0"
                    oninput="amount.value=rangeInput.value">                                                       
                <output id="amount" name="amount" for="rangeInput">1</output>
            </div>
        </div>
    </div>
    <p class="categories">Ingrédients : </p>
    <div class="ingredient" *ngFor="let ingredient of ingredients">
        <p *ngIf="!isModifying">- {{ingredient.nomIngredient}} ({{ingredient.quantiteValue}} {{ingredient.unite}})</p>
        <p *ngIf="isModifying">- 
            <input type="text" class="nomIngredient" value="{{ingredient.nomIngredient}}"> 
            (<input type="text" class="quantiteValue" value="{{ingredient.quantiteValue}}">
            <mat-form-field appearance="fill" style="font-size: 15px">
                <mat-label>Unitées</mat-label>
                <mat-select name="unite">
                  <mat-option *ngFor="let unite of uniteList" [value]="unite">{{unite}}</mat-option>
                </mat-select>
            </mat-form-field>
            )
        </p>
    </div>
    -->
    <form (ngSubmit)="updateRecette(updateEtape.value)" [formGroup]="updateEtape">
        <p class="categories">Etapes : </p>
        <div class="etapes" *ngFor="let etape of etapes">
            <p *ngIf="!isModifying">=> {{etape.nomEtape}}</p>
            <p *ngIf="isModifying">=>
                <input type="text" class="nomIngredient" value="{{etape.nomEtape}}" ngModel="{{etape.nomEtape}}" formControlName="nomEtape">
            </p>
        </div>
        <button type="submit">Bouton</button>
    </form>
</div>
<!--
<button *ngIf="isModifying" mat-raised-button color="primary" class="modif" (click)="updateRecette(recette._id, recette)" >Enregistrer les modifications</button>
-->
<button mat-raised-button color="primary" class="modif" (click)="deleteRecette(recette._id)" >Supprimer la recette</button>


