/*******************HEADER**********************/
.header{
    background-color: darkcyan;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/************BARRE DE RECHERCHE***************/
.barre-de-recherche{
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px auto;
}

::ng-deep .p-inputtext {
    background-color: darkcyan;
    color: white;
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
    transition: 0.5s;
    width: 209px;
    height: 49px;
    margin: 5px auto;
}

::ng-deep .p-inputtext:focus {
    background-color: white;
    color: darkcyan;
    border: none;
}

::placeholder {
    color: white;
}

::ng-deep .p-inputtext:focus::placeholder {
    color: darkcyan;
}

/************COLONNE***************/
.colonne{
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
}

/************RECETTES***************/
.recette{
    background-color: darkcyan;
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    padding: 0;
    height: auto;
    margin: auto;
}

.recette .composition{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    cursor: pointer;
}

.recette .composition .texte{
    width: 70%;
    margin-left: 5px;
    text-align: center;
}

.recette .composition .texte .etoiles{
    display: flex;
    align-content: center;
    justify-content: center;
}

.recette .composition .texte .etoiles .etoile{
    color: white;
}

.recette .composition .texte p{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin: 10px 0;
}

.recette .composition .texte span {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    margin: 10px 0;
}

.recette .composition .image{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 280px;
    height: auto;
    margin: 0;
    padding: 15px;
}

.recette .composition img{
    width: auto;
    height: 90%;
    max-height: 200px;
    max-width: 500px;
    transform: scaleX(-1);
}

/*******************FILTRES**********************/
.filtres{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.filtres mat-chip{
    display: flex;
    background-color: darkcyan;
    color: white;
    flex-wrap: wrap;
    align-content: center;
}

.filtres mat-chip:hover{
    cursor: pointer;
    color: darkcyan;
    background-color: white;
    border: 2px solid darkcyan;
}

/*******************MEDIA QUERIES**********************/
@media screen and (max-width: 700px){
    .recette .composition img{
        max-width: 135px;
    }
}

/*******************BOUTONS**********************/
::ng-deep .p-button{
    cursor: pointer;
}
