<app-header></app-header>
<div class="header">
    <h1>Liste de Recettes</h1>
</div>
<div class="barre-de-recherche">
    <div class="info">
        <input class="recherche" type="search" (ngModelChange)="searchRecettes(key.value)" #key="ngModel" ngModel name="key" name="recherche" placeholder="Recherchez ici !">
    </div>
</div>
<div *ngFor="let recette of recettes" class="colonne" (click)="onClickRecette(recette._id)">
    <div class="recette">
        <div class="composition">
            <div class="texte">
                <input type="hidden" class="id" ngModel="{{recette?._id}}" name="_id">
                <p>{{recette?.menu}}</p>
                <div *ngIf="recette?.picture" class="image">
                    <img type="jpg" id="image" [src]="recette?.picture" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
