<div class="header">
    <h1>Liste de Recettes</h1>
</div>
<div class="barre-de-recherche">
    <div class="info">
        <input pInputText class="recherche" type="search" (ngModelChange)="searchRecettes(key.value)" #key="ngModel" ngModel name="recherche" placeholder="Recherchez ici !">
    </div>
    <div class="filtres">
        <mat-chip-listbox [(ngModel)]="selectedChip">
            <mat-chip-option *ngFor="let filtre of filtres" (click)="activateCategory()">{{filtre.viewValue}}</mat-chip-option>
        </mat-chip-listbox>
    </div>
</div>
<div *ngFor="let recette of recettes" class="colonne">
    <div class="recette">
        <div class="composition" (click)="onClickRecette(recette._id)">
            <div class="texte">
                <input type="hidden" class="id" ngModel="{{recette?._id}}" name="_id">
                <span>{{recette?.menu}}</span>
                <div class="etoiles" *ngIf="recette?.etoile">
                    <div class="etoile" *ngFor="let etoile of fakeArray(recette?.etoile!)"><i class="fas fa-star"></i></div>
                    <div class="etoile" *ngFor="let etoile of fakeArray(5-recette?.etoile!)"><i class="far fa-star"></i></div>
                </div>
                <p *ngIf="recette.temps">( Temps total : {{recette.temps}} min)</p>
                <div *ngIf="recette?.picture" class="image">
                    <img type="jpg" id="image" [src]="recette?.picture" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
