/*******************AU DESSUS**********************/
.presentation{
    text-align: center;
    color: white;
    background-color: darkcyan;
}

.change{
    display: flex;
    align-items: center;
    justify-content: center;
}

.change span{
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

/*******************BOUTONS**********************/
::ng-deep .p-button{
    cursor: pointer;
}