<div class="entier">
  <div class="gauche">
    <img src="../../../assets/logo site.png" alt="logo">
  </div>
  <div class="droite">
    <div class="contenu">
      <h1>Connexion</h1>
      <form [formGroup]="loginForm">
        <div class="form-group">
          <span>Email</span>
          <input pInputText type="email" id="email" formControlName="email">
        </div>
        <div class="form-group">
          <span>Mot de passe</span>
          <p-password [toggleMask]="true" formControlName="password" id="password"></p-password>
        </div>
        <div style="margin-top: 30px;">
          <p-button styleClass="p-button-success" [disabled]="loginForm.invalid" (click)="loginUser(loginForm.value)" label="Se connecter"></p-button>
        </div>
      </form>
    </div>
  </div>
</div>