h1{
    color: #FD2D01;
}

/*******************BOUTONS**********************/

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

::ng-deep .p-button{
    cursor: pointer;
}