/****************HEADER*******************/
.header{
    background-color: darkcyan;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/****************GENERAUX*******************/
form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: auto;
    border: darkcyan 3px solid;
    border-radius: 50px;
    width: 60%;
    cursor: pointer;
}

form .form-group{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

form .form-group label{
    color: darkcyan;
    font-size: medium;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
}

#temps{
    width: 40px;
}

/****************IMAGES*******************/
input[type="file"]{
    display: none;
}

.picture{
    margin-top: 30px;
}

.picture a{
    border-radius: 50px;
    width: auto;
    height: 30px;
    background-color: darkcyan;
    color: white;
    cursor: pointer;
    padding: 5px;
}

.picture a:hover{
    color: darkcyan;
    background-color: white;
    border: 2px solid darkcyan;
}

/*******************BOUTONS**********************/
::ng-deep .p-button{
    cursor: pointer;
}