<div class="header">
    <h1>Nouvelle recette</h1>
</div>
<a routerLink="/liste"><button class="retour">Retour</button></a>
<form [formGroup]="recetteForm">
    <div class="form-group">
      <label for="menu">Nom de la recette</label> <br />
      <input type="text" class="form-control" id="menu" formControlName="menu">
    </div>
    <div class="form-group">
        <mat-form-field>
            <label for="filtres">Filtres</label>
            <mat-select formControlName="filtres" multiple>
              <mat-option *ngFor="let filtre of filtreList" [value]="filtre">{{filtre}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="form-group">
        <label for="etoile">Difficulté de la recette</label> (Si 1 = facile et 5 = très difficile) <br /><br />
        <input type="number" class="form-control" id="etoile" min="1" max="5" formControlName="etoile">
      </div>
    <div class="form-group">
        <label for="temps">Temps de préparation</label>
        <input type="text" class="form-control" id="temps" formControlName="temps">
    </div>
    <div class="form-group">
        <div class="portions-container">
            <label for="portions">Portions</label> <br /><br />
            <input type="number" id="quantity" name="quantity" min="1" max="10" formControlName="portions">
        </div>
    </div>
    <div class="picture">
        <input type="file" accept="image/*" #imageInput (change)="onFileAdded($event)" formControlName="picture">
        <a mat-raised-button color="primary" (click)="imageInput.click()">Ajout image</a>
        <img [src]="imagePreview" *ngIf="imagePreview" style="max-height: 100px;display:block;margin-top:10px">
    </div>
    <button class="modif" (click)="addRecette(recetteForm.value)" [disabled]="recetteForm.invalid">Enregistrer</button>
</form>