/****************HEADER*******************/
.header{
    background-color: darkcyan;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/****************GENERAUX*******************/
form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: auto;
    border: darkcyan 3px solid;
    border-radius: 50px;
    max-width: 700px;
    width: 100%;
    cursor: pointer;
}

form .form-group{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px auto;
    flex-direction: column;
}

form .form-group span{
    font-size: 18px;
    font-weight: 500;
    color: darkcyan;
    margin: 5px 0;
}

form .form-group .indication{
    font-size: 16px;
    color: black;
}

::ng-deep .p-inputtext {
    background-color: darkcyan;
    color: white;
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
    transition: 0.5s;
    width: 209px;
    height: 49px;
}

::ng-deep .p-inputtext:focus {
    background-color: white;
    color: darkcyan;
    border: none;
}

/****************IMAGES*******************/
input[type="file"]{
    display: none;
}

.picture{
    margin-top: 30px;
}

.picture a{
    border-radius: 50px;
    width: auto;
    height: 30px;
    background-color: darkcyan;
    color: white;
    cursor: pointer;
    padding: 5px;
}

.picture a:hover{
    color: darkcyan;
    background-color: white;
    border: 2px solid darkcyan;
}

/*******************BOUTONS**********************/
::ng-deep .p-button{
    cursor: pointer;
}