<app-header></app-header>
<div class="header">
    <h1>Formulaire d'ajout de nouvelle recette</h1>
</div>
<a routerLink="/liste"><button class="retour">Retour</button></a>
<form [formGroup]="recetteForm">
    <div class="form-group">
      <label for="menu">Nom de la recette</label>
      <input type="text" class="form-control" id="menu" formControlName="menu">
    </div>
    <div class="form-group">
        <mat-form-field appearance="fill">
            <mat-label>Filtres</mat-label>
            <mat-select formControlName="filtres" multiple>
              <mat-option *ngFor="let filtre of filtreList" [value]="filtre">{{filtre}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="form-group">
        <label for="temps">Temps de préparation</label>
        <input type="text" class="form-control" id="temps" formControlName="temps">
    </div>
    <div class="form-group">
        <label for="portions">Portions</label>
        <div class="portions-container">
            <input type="number" id="quantity" name="quantity" min="1" max="10" formControlName="portions">
        </div>
    </div>
    <div class="picture">
        <input type="file" accept="image/*" #imageInput (change)="onFileAdded($event)" formControlName="picture">
        <a mat-raised-button color="primary" (click)="imageInput.click()">Ajout image</a>
        <img [src]="imagePreview" *ngIf="imagePreview" style="max-height: 100px;display:block;margin-top:10px">
    </div>
    <button mat-raised-button color="primary" (click)="addRecette(recetteForm.value)" [disabled]="recetteForm.invalid">Enregistrer</button>
</form>