/****************HEADER*******************/
.header{
    background-color: darkcyan;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.retour{
    border-radius: 50px;
    width: auto;
    height: 30px;
    background-color: darkcyan;
    color: white;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 30px;
}

.retour:hover{
    cursor: pointer;
    color: darkcyan;
    background-color: white;
    border: 2px solid darkcyan;
}

/****************GENERAUX*******************/
button{
    border-radius: 50px;
    width: auto;
    height: 30px;
    background-color: darkcyan;
    color: white;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: whitesmoke;
    width: 500px;
    margin: auto;
}

form .form-group{
    margin-top: 20px;
}

form .form-group input{
    margin-top: 15px;
    height: auto;
}

form .form-group label{
    color: darkcyan;
    font-size: medium;
    margin-right: 10px;
}

/****************IMAGES*******************/
input[type="file"]{
    display: none;
}

/****************PORTIONS*******************/
#quantity{
    border: 3px solid darkcyan;
    text-align: center;
    cursor: pointer;
}