/****************AU DESSUS*******************/
h1{
    text-align: center;
    font-weight: 500;
    margin-top: 70px;
    margin-bottom: 10px;
}

h3{
    text-align: center;
    color: darkcyan;
}

.retour{
    border-radius: 50px;
    width: auto;
    height: 30px;
    background-color: darkcyan;
    color: white;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.retour:hover {
    cursor: pointer;
    color: darkcyan;
    background-color: white;
    border: 2px solid darkcyan;
}

/****************ETAPES*******************/
.etapes{
    background-color: darkcyan;
    border-radius: 50px;
    min-width: 300px;
    width: 90%;
    margin: auto;
    margin: auto;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.etape{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: darkcyan;
    border-radius: 30px;
    border: 3px solid black;
}

.etape p {
    padding-top: 10px;
    font-size: 18px;
    width: 400px;
    text-align: center;
    transition: 0.5s;
}

.etape p a{
    cursor: pointer;
}

.etape.titre{
    background-color: black;
    color: white;
}

.etape .scale:hover{
    transform: scale(1.2);
    color: #ff0000;
}

.etape.titre p{
    width: 150px;
    margin-left: 150px;
}

/****************SUPPRIMER ETAPE*******************/
.etape .supprimer{
    border-radius: 50px;
    width: auto;
    height: 30px;
    background-color: white;
    color: darkcyan;
    border: 2px solid black;
    margin-left: 35px;
}

.etape .supprimer:hover{
    cursor: pointer;
    color: white;
    background-color: black;
}

/****************AJOUT ETAPE*******************/
.ajout{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.ajout .ajouter {
    border-radius: 50px;
    width: auto;
    height: 30px;
    background-color: darkcyan;
    color: white;
}

.ajout .ajouter:hover {
    cursor: pointer;
    color: darkcyan;
    background-color: white;
}

/****************MODIFIER ETAPE****************/

.cancel {
    text-decoration: none;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 15px 30px;
    margin: 30px 0 0 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 0.4em;
    transition: 0.5s;
}

.cancel:hover {
    background-color: red;
    color: white;
}

.modify-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 600px;
    width: 80%;
    border-radius: 20px;
    padding-bottom: 20px;
}

.object-form {
    width: 80%;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.object-form .error {
    color: red;
    font-size: 14px;
    font-weight: 600;
}

.object-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    padding: 20px 40px;
    border: 2px solid rgb(2, 216, 216);
    outline: none;
    border-radius: 10px;
    transition: 0.5s;
    text-align: center;
    background-color: rgb(64, 185, 185);
}

input {
    color: white;
    font-size: 1em;
}

::placeholder {
    color: white;
    font-size: 1em;
}

.object-form-text:focus.ng-valid {
    box-shadow: 0 0 10px 4px darkcyan;
    background-color: white;
    color: darkcyan;
    border: 2px solid darkcyan;
}

.object-form-text:focus.ng-invalid {
    box-shadow: 0 0 10px 4px #ff0000;
    border: 2px solid #ff0000;
    background-color: white;
    color: red;
}

textarea.object-form-text {
    resize: none;
    height: 100px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.object-form .button-container .validButton {
    text-decoration: none;
    background: aliceblue;
    color: var(--secondary);
    padding: 15px 30px;
    border: 2px solid darkcyan;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 0.4em;
    transition: 0.5s;
}

.object-form .button-container .invalidButton {
    text-decoration: none;
    background: aliceblue;
    color: var(--secondary);
    padding: 15px 30px;
    border: 2px solid #ff0000;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 0.4em;
    transition: 0.5s;
}

.object-form .button-container .validButton:hover {
    background-color: darkcyan;
    color: white;
    cursor: pointer;
}