<div class="header">
    <h1>Liste des étapes (Ajout- Modification- Suppression)</h1>
</div>
<h3>Cliquez sur le nom d'une étape pour l'afficher ou la modifier. <br/> Cliquez sur les boutons pour en ajouter ou supprimer.</h3>
<a (click)="onClickRecette(recette._id)"><button class="retour">Retour</button></a>
<div class="etapes">
    <div class="etape titre">
        <p>Nom / Modifier</p>
        <p>Supprimer</p>
    </div>
    <div class="etape" *ngFor="let etape of etapes">
        <p  class="scale"><a title="modify" (click)="modify(etape)">{{etape.nomEtape}}</a></p>
        <button class="supprimer" (click)="deleteEtape(etape, recette._id)">supprimer</button>
    </div>
</div>
<div class="ajout">
    <button class="ajouter" (click)="addEtape()">Ajouter</button>
</div>
<div *ngIf="etape" class="modify-container">
    <form class="object-form" [formGroup]="updateform" (ngSubmit)="updateEtape(updateform.value)">
        <input type="hidden" formControlName="_id" ngModel="{{etape._id}}">
        <input class="object-form-text" placeholder="Nom étape" formControlName="nomEtape" ngModel="{{etape.nomEtape}}">
        <span class="error" *ngIf="updateform.get('nomEtape')!.hasError('required') && updateform.get('nomEtape')!.touched">Le nom de l'étape est requise</span>
        <div class="button-container">
            <button class="invalidButton" title="invalid form" *ngIf="updateform.invalid" [disabled]="updateform.invalid" type="submit">MODIFIER</button>
            <button class="validButton" title="modifier" *ngIf="updateform.valid" [disabled]="updateform.invalid" type="submit">MODIFIER</button>
            <a class="cancel" title="annuler" (click)="unmodify()">ANNULER</a>
        </div>
    </form>
</div>