/*******************GENERAUX**********************/
.entier{
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*******************GAUCHE**********************/
.gauche{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 400px;
    border-radius: 20px 0 0 20px;
    border: 10px solid darkcyan;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contenu{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.gauche h1{
    color: rgb(3, 117, 117);
}


.gauche form{
    margin-top: 10px;
    width: 100%;
}

.gauche form .form-group{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 5px auto;
}

.gauche form .form-group span{
    width: 90px;
    text-align: left;
}

::ng-deep .p-inputtext {
    background-color: darkcyan;
    color: white;
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
    transition: 0.5s;
    width: 209px;
    height: 49px;
}

::ng-deep .p-inputtext:focus {
    background-color: white;
    color: darkcyan;
    border: none;
}


/*******************DROITE**********************/
.droite{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    border-radius: 0 20px 20px 0;
    border: 10px solid darkcyan;
    padding: 20px;
}

.droite img{
    width: auto;
    height: 300px;
}

/*******************BOUTONS**********************/
::ng-deep .p-button{
    cursor: pointer;
}