.main-conteneur {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    background-color: darkcyan;
    margin: auto;
    width: 70%;
    margin-bottom: 50px;
}

nav .conteneur {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

nav .conteneur a {
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: large;
}

h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 50px 0 ;
    background-color: darkcyan;
    color: white;
    height: auto;
}

.accroche{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 50%;
    margin: auto;
    margin-top: 50px;
}

.accroche h2{
    font-size: 30px;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    text-align: center;
}

.accroche img{
    width: auto;
    height: 300px;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 15px;
    flex-wrap: wrap;
}

h3{
    text-align: center;
    font-size: medium;
    font-weight: 700;
    width: 75%;
    margin: auto;
    border: 2px solid darkcyan;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 600px){
    h1{
        font-size: 23px;
    }

    .accroche h2{
        font-size: 15px;
    }

    .accroche img{
        height: 150px;
    }
}

@media screen and (max-width: 950px){
    h1{
        font-size: 50px;
    }

    .accroche h2{
        font-size: 20px;
    }

    .accroche img{
        height: 200px;
    }
}