<app-header></app-header>
<div class="header">
    <h1>Recette en détails</h1>
</div>
<a routerLink="/liste"><button class="retour">Retour</button></a>
<div class="details">
    <div class="menu" *ngIf="recette?.menu">
        <p>{{recette.menu}}</p>
    </div>
    <div class="temps" *ngIf="recette?.temps">
        <p>( Temps total : {{recette.temps}} min)</p>
    </div>
    <div class="filtres" *ngIf="recette?.filtres">
        <p>{{recette.filtres}}</p>
    </div>
    <div class="portions-container">
        <p>Portions : </p>
        <input type="range" id="rangeInput" name="rangeInput" min="1" max="10" value="0"
            oninput="amount.value=rangeInput.value">                                                       
        <output id="amount" name="amount" for="rangeInput">1</output>
    </div>
    <p class="categories">Ingrédients : </p>
    <div class="ingredient" *ngFor="let ingredient of ingredients">
        <p>- {{ingredient.nomIngredient}} : ({{ingredient.quantiteValue}} {{ingredient.unite}})</p>
    </div>
    <p class="categories">Etapes : </p>
    <div class="etapes" *ngFor="let etape of etapes">
        <p>=> {{etape.nomEtape}}</p>
    </div>
    <div *ngIf="recette?.picture" class="image">
        <img type="jpg" id="image" [src]="recette.picture" alt="image">
    </div>
</div>
<a routerLink="/modif-form/:id"><button class="modif-form">Modifier la recette</button></a>
