<app-header></app-header>
<div class="header">
    <h1>Recette en détails</h1>
</div>
<a routerLink="/liste"><button class="retour">Retour</button></a>
<a (click)="onModify()"><button class="retour">Modifier</button></a>
<div class="details">
    <form (ngSubmit)="updateRecette(updateform.value)" [formGroup]="updateform">
        <div class="menu" *ngIf="recette?.menu">
            <p *ngIf="!isModifying">{{recette.menu}}</p>
            <input *ngIf="isModifying" type="text" class="menu" ngModel="{{recette.menu}}" formControlName="menu">
        </div>
        <div class="temps" *ngIf="recette?.temps">
            <p *ngIf="!isModifying">( Temps total : {{recette.temps}} min)</p>
            <p *ngIf="isModifying">( Temps total : <input type="text" class="temps" ngModel="{{recette.temps}}" formControlName="temps"> min)</p>
        </div>
        <div class="filtres" *ngIf="recette?.filtres">
            <p *ngIf="!isModifying">{{recette.filtres}}</p>
            <div *ngIf="isModifying">
                <mat-form-field appearance="fill" style="background-color: white">
                    <mat-label>Filtres</mat-label>
                    <mat-select multiple ngModel="{{recette.filtres}}" formControlName="filtres">
                    <mat-option *ngFor="let filtre of filtreList" [value]="filtre" >{{filtre}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <button type="submit" *ngIf="isModifying">Enregistrer les modifications du menu</button>
    </form>
    <div class="portions-container">
        <div>
            <a routerLink="portions" *ngIf="isModifying"><button class="lien">Modifier la portion</button></a>
            <div *ngIf="recette.portions">
                <p>Portions : </p>
                <input type="range" id="rangeInput" name="rangeInput" min="1" max="10" value="{{recette.portions}}"
                    oninput="amount.value=rangeInput.value">                                                       
                <output id="amount" name="amount" for="rangeInput" value="{{recette.portions}}">1</output>
            </div>
            <div *ngIf="!recette.portions">
                <p>Veuillez définir le nombre de portions correspondantes à cette recette</p>
            </div>
        </div>
    </div>
    <p class="categories">Ingrédients : </p>
    <a routerLink="ingredients" *ngIf="isModifying"><button class="lien">Modifier ou ajouter des Ingrédients</button></a>
    <div class="ingredient" *ngFor="let ingredient of ingredients">
        <p>- {{ingredient.nomIngredient}} ({{ingredient.quantiteValue}} {{ingredient.unite}})</p>
    </div>
    <p class="categories">Etapes : </p>
    <a routerLink="etapes" *ngIf="isModifying"><button class="lien">Modifier ou ajouter des Etapes</button></a>
    <div class="etapes" *ngFor="let etape of etapes">
        <p>=> {{etape.nomEtape}}</p>
    </div>
    <a routerLink="image" *ngIf="isModifying"><button class="lien">Modifier ou ajouter une Image</button></a>
    <div *ngIf="recette?.picture" class="image">
        <img type="jpg" id="image" [src]="recette.picture" alt="image">
    </div>
</div>
<button mat-raised-button color="primary" class="modif" (click)="deleteRecette(recette._id)" >Supprimer la recette</button>
