/******************HEADER*******************/
.header{
    background-color: darkcyan;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.retour{
    border-radius: 50px;
    width: auto;
    height: 30px;
    background-color: darkcyan;
    color: white;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.retour:hover{
    cursor: pointer;
    color: darkcyan;
    background-color: white;
    border: 2px solid darkcyan;
}
/******************GENERAUX*******************/

.general{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.details{
    min-height: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
    margin-right: 16%;
}

.details .ingredient, .etapes, .quantite, .temps, .portions, .filtres{
    font-size: 20px;
}

.etoiles{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 5px;
}

.etoiles .etoile{
    color: darkcyan;
}

.details form .container {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 20px;
}

.details form .container .etoile-modifier{
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    padding-top: -6px;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    width: auto;
}

button{
    border-radius: 50px;
    width: auto;
    height: 30px;
    background-color: darkcyan;
    color: white;
    cursor: pointer;
}

button:hover{
    cursor: pointer;
    color: darkcyan;
    background-color: white;
    border: 2px solid darkcyan;
}

.lien{
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
    color: darkcyan;
    background-color: white;
    cursor: pointer;
    font-size: 18px;
}

.lien:hover{
    color: white;
    background-color: black;
}

input{
    width: 50px;
    color: darkcyan;
    border: none;
    text-align: center;
    font-weight: 600;
    height: 20px;
}


/******************MENU*******************/
.details .menu{
    font-size: 42px;
    padding-top: 5px;
    text-align: center;
    font-style: oblique;
    height: auto;
}

.details .menu input{
    width: 60%;
}

.details .categories{
    font-size: 22px;
    text-align: justify;
    padding-top: 13px;
    margin-top: 15px;
    margin-left: 20%;
    text-decoration: underline;
    color: darkcyan;
}


/******************FILTRES*******************/
.details .filtres{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
    width: 60%;
    height: 25px;
    cursor: pointer;
}

.details .filtres p{
    color: white;
    width: auto;
    margin-left: 5px;
}

/******************PORTIONS*******************/
.portions-container{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
}

.portions-container div .quantity{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.portions-container div input{
    background-color: white;
    cursor: pointer;
    height: 20px;
    width: 50px;
    color: darkcyan;
    border: none;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
}

.portions-container p{
    font-size: 20px;
    text-align: justify;
    padding-top: 13px;
    margin-left: 5px;
    color: white;
}

.portions-container .black{
    font-size: 20px;
    text-align: justify;
    padding-top: 13px;
    margin-left: 5px;
    color: black;
}

#quantity{
    border: 3px solid darkcyan;
    text-align: center;
    cursor: pointer;
}

/******************IMAGE*******************/
.photo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: darkcyan;
    height: 500px;
    border-radius: 0 100% 100% 0;
    margin-bottom: 20px;
}

.image{
    width: auto;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
    margin-left: 20px;
}

.image img{
    width: auto;
    height: 180px;
}

input[type="file"]{
    display: none;
}

.picture{
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.picture a{
    border-radius: 50px;
    width: auto;
    height: 30px;
    background-color: white;
    color: darkcyan;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 5px;
    border: 2px solid darkcyan;
}

.picture a:hover{
    color: white;
    background-color: black;
}


/******************BOUTON Modifier*******************/
.modif{
    border-radius: 50px;
    width: auto;
    height: 30px;
    background-color: green;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.modif:hover{
    cursor: pointer;
    color: white;
    background-color: green;
    border: none;
    transform: scale(1.2);
}

/******************BOUTON SUPPRESSION*******************/
.suppression{
    border-radius: 50px;
    width: auto;
    height: 30px;
    background-color: red;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.suppression:hover{
    cursor: pointer;
    color: white;
    background-color: red;
    border: none;
    transform: scale(1.2);
}

/******************INGREDIENTS*******************/
.ingredient .nomIngredient{
    width: 130px;
}

.ingredient .quantiteValue{
    width: 40px;
    text-align: center;
}





/*****************************************************/

mat-accordion{
    width: 100%;
    transition: 1s;
}

mat-accordion mat-expansion-panel{
    background-color: darkcyan;
    color: white;
    border: 2px solid black;
    width: 90%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: auto;
    margin: auto;
    text-align: center;
}

mat-accordion mat-expansion-panel:hover{
    color: darkcyan;
    transform: scale(1.01);
    border: 2px solid black;
}

i{
   font-size: larger;
   color: white;
}

span{
    margin-left: 5px;
    color: white;
    font-weight: 500;
    font-size: 22px;
}

.composition{
    font-size: 16px;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.composition ol{
    width: 100%;
}

.composition ol li{
    color: white;
}

.composition ol li p{
    color: black;
}


@media screen and (max-width: 1240px) {

    .photo {
        width: 90%;
        max-width: 950px;
    }

}

@media screen and (max-width: 1480px) {

    .details {
        margin-right: 0;
    }

}